<%- include('../../partials/layout-protected-top', { title: 'Edit Tool' }) %>

<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-6 text-blue-600">Edit Tool</h1>
  
  <form action="/admin/tools/<%= tool._id %>" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
        Tool Name
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" name="name" value="<%= tool.name %>" required>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="html">
        HTML Content
      </label>
      <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="html" name="html" rows="10" required><%= tool.html %></textarea>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="subscription">
        Subscription
      </label>
      <select class="shadow appearance-none border rounded w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline" id="subscription" name="subscription" required>
        <% subscriptions.forEach(subscription => { %>
          <option value="<%= subscription._id %>"><%= subscription.service.name+' '+subscription.startDateFormatted %></option>
        <% }) %>
      </select>
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Update Tool
      </button>
      <a href="/admin/tools" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">
        Cancel
      </a>
    </div>
  </form>
</div>

<%- include('../../partials/layout-public-bottom') %>