<%- include('../partials/layout-protected-top', { title: tool.name }) %>
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-6 <%=TW_TEXT_COLOR_CLASS%>"><%= tool.name %></h1>
        
        <div class="bg-white shadow-md rounded-lg p-6">
            <iframe srcdoc="<%= tool.content %>" frameborder="0" height="100%" style="min-height:100vh" class="h-full w-full"></iframe>
        </div>
        
        <div class="mt-8">
            <a href="/dashboard/tools" class="<%=TW_LINK_TEXT_COLOR_CLASS%> font-semibold">
                &larr; <%= __('dashboard_tool__back_to_my_tools') %>
            </a>
        </div>
    </div>
<%- include('../partials/layout-public-bottom') %>