<%- include('../partials/layout', { title: __('auth_login__title') }) %>
    <div class="container mx-auto w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 text-left py-8">

        <h1 class="text-3xl font-bold mb-6 <%= TW_TEXT_COLOR_CLASS%>"><%= __('auth_login__heading') %></h1>
        
        <% if (locals.error) { %>
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
                <span class="block sm:inline"><%= error %></span>
            </div>
        <% } %>

        <form action="/auth/login" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    <%= __('auth_login__email_label') %>
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" name="email" type="email" placeholder="<%= __('auth_login__email_placeholder') %>" required>
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    <%= __('auth_login__password_label') %>
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" name="password" type="password" placeholder="<%= __('auth_login__password_placeholder') %>" required>
            </div>
            <div class="flex items-center justify-between">
                <button class="<%= TW_BTN_CLASS%> font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    <%= __('auth_login__sign_in_button') %>
                </button>
                <a class="inline-block align-baseline font-bold text-sm <%= TW_TEXT_LINK_CLASS%>" href="/auth/register">
                    <%= __('auth_login__register_link') %>
                </a>
            </div>
        </form>
    </div>
<%- include('../partials/layout-public-bottom', { title: __('auth_login__title') }) %>